set autoindent
set boldtext
set const
set historylog
set morespace
set nohelp
set nonewlines
set nowrap
set smarthome
set smooth
set suspend
set tabsize 2
set titlecolor red black
set statuscolor red black

include "/usr/local/share/nano/*.nanorc"
